
<div class="w-full landing p-0 sm:p-8 h-full">
  <div class="pt-32">
    <div class="mt-8 p-5">

      @if (cartItems.length === 0) {
      <div class="flex justify-center">
        <img class="w-1/2"
          src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png"
          alt>
      </div>
      } @else if (cartItems.length > 0) {
      @for (item of cartItems; track item.id) {
      <div
        class="flex justify-evenly items-center border-b pt-5 pb-5 text-neutral-50">
        <div class="w-1/4 flex justify-center">
          <img [src]="item.image" class="cart-item-img w-2/4 rounded-2xl" alt="..." />
        </div>
        <div class="w-1/4">
          <p>{{ item.title }}</p>
        </div>

        <div class="flex items-center gap-2 px-2">
          <button class="btn btn-outline-secondary custome-btn total-btn"
            (click)="decreaseCounter(item)"> -</button>
          <p class="mx-2 text-2xl">{{ item.quantity }}</p>
          <button class="btn btn-outline-secondary custome-btn total-btn"
            (click)="increaseCounter(item)"> +</button>
        </div>

        <button
          class="btn btn-outline-secondary custome-btn total-btn btn-cancel"
          (click)="removeItem(item)">X</button>

        <p class="total">{{ item.price |
          offer:item.discountPercentage:item.quantity }}</p>
      </div>
      }
      <div class="container flex justify-end text-neutral-50 p-3">
        <p class="total font-bold">Total is: {{ getTotalPrice() | currency
          }}</p>
      </div>
      }

    </div>
  </div>
</div>
