
<div
  class="text-neutral-50 flex flex-col justify-center sm:flex-row sm:justify-evenly items-center p-9 gap-8 main text-3xl">

  <!-- games  -->
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="radial-progress text-foshia" style="--value:100;"
      role="progressbar">
      <div>{{games.length}}</div>
    </div>
    <div>
      <a
        class="nav-link btn px-6 py-2  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
        routerLink="/admin-games"
        routerLinkActive="active-route">Games</a>
    </div>
  </div>

  <!-- users  -->
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="radial-progress text-foshia" style="--value:100;"
      role="progressbar">
      <div>{{users.length}}</div>
    </div>
    <div>
      <a
        class="nav-link btn px-6 py-2  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
        routerLink="/admin-users"
        routerLinkActive="active-route">Users</a>
    </div>
  </div>

  <!-- catgories  -->
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="radial-progress text-foshia" style="--value:100;"
      role="progressbar">
      <div>{{categories.length}}</div>
    </div>
    <div>
      <a
        class="nav-link btn px-6 py-2  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
        routerLink="/admin-categories"
        routerLinkActive="active-route">Categories</a>
    </div>
  </div>

  <!-- orders  -->
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="radial-progress text-foshia" style="--value:100;"
      role="progressbar">
      <div>{{orders.length}}</div>
    </div>
    <div>
      <a
        class="nav-link btn px-6 py-2  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
        routerLink="/admin-orders"
        routerLinkActive="active-route">Orders</a>
    </div>
  </div>

</div>
