<div class="flex flex-col justify-center">

  <!-- Search Bar -->
  <div class="flex justify-end me-5">
    <div class="form-control flex justify-center w-full sm:w-1/2 py-10">
      <input type="text" placeholder="Search"
        class="input rounded-2xl input-bordered bg-neutral-800 text-base-200 h-14 md:w-auto" />
    </div>
  </div>

  <!-- Category Buttons -->
  <div class="flex justify-center gap-4 items-center mb-6 overflow-x-scroll pt-4">
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      All
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Adventure
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Sports
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Action
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Horror
    </button>
  </div>

  <!-- Add Game Button -->
  <div class="flex justify-end pt-4">
    <button
      class="me-5 px-14 rounded-xl mt-4 btn bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
      routerLink="/add-admin-game" routerLinkActive="active-route">
      ADD GAME LIST
    </button>
  </div>

  <!-- Games List -->
  <div class="overflow-x-auto text-neutral-50">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Title
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Image
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let game of games; let i = index">
          <td class="px-6 py-4 whitespace-nowrap">
            {{ game.title }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <img [src]="game.imageCover" class="w-12 h-12 rounded" alt="Game Image">
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button (click)="editGame(game._id)"
              class="btn px-6 mr-3 bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none">
              Edit
            </button>
            <button (click)="deleteGame(game._id)"
              class="btn px-6 bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
