<div class="flex flex-col justify-center">

  <!-- Search Bar -->
  <div class="flex justify-end">
    <div class="form-control flex justify-center w-full sm:w-1/2 py-10">
      <input type="text" placeholder="Search"
        class="input rounded-2xl input-bordered bg-neutral-800 text-base-200 h-14 md:w-auto" />
    </div>
  </div>

  <!-- Category Buttons -->
  <div class="flex justify-center gap-4 items-center mb-6 overflow-x-scroll pt-4">
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      All
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Adventure
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Sports
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Action
    </button>
    <button
      class="btn rounded-xl bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia border-none hover:transition-all">
      Horror
    </button>
  </div>

  <!-- Add Game Button -->
  <div class="flex justify-end pt-4">
    <button
      class="px-14 rounded-xl mt-4 btn bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
      routerLink="/add-admin-game" routerLinkActive="active-route">
      ADD GAME LIST
    </button>
  </div>

  <!-- Games List -->
  <div class="text-neutral-50 items-center ">
    <div>
      <div class="user-item flex justify-between border-l-4 rounded-xl p-5 m-5"
        *ngFor="let game of games; let i = index">
        <p class="ml-5">{{ game.title }}</p>
        <div>
          <img [src]="game.imageCover" class="w-1/4" alt="">
        </div>
        <div class="mr-5">
          <!-- <button
            class="btn px-6 mr-3 bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
            [routerLink]="['/edit-add-admin', game._id]" routerLinkActive="active-route">
            Edit
          </button> -->

          <button (click)="editGame(game._id)"
            class="btn px-6 mr-3 bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none">Edit</button>

          <button (click)="deleteGame(game._id)"
            class="btn px-6 bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
