<div>
  <!-- Card 1 -->
  <a routerLink="/games-page">
    <div
      class="card shadow-lg rounded-lg overflow-hidden bg-foshia custom-border">
      <div class="p-4 text-white text-center">
        <span class="text-lg font-semibold">{{ categoryItem.name }}</span>
      </div>
      <div class="overflow-hidden custom-border">
        <img
          alt="{{ categoryItem.name }}"
          [src]="categoryItem.image"
          class="w-full h-48 object-cover border-r-8 custom-border" />
      </div>
    </div>
  </a>
</div>
