<div class="overflow-x-auto text-neutral-100 pt-28">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Image
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Name
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Description
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let category of categories">
        <td class="px-6 py-4 whitespace-nowrap">
          <img [src]="category.image" class="w-12 h-12 rounded" alt="Category Image">
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ category.name }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ category.description }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <button (click)="editCategory(category._id)" class="btn px-6 text-neutral-50 hover:bg-neutral-50 hover:text-error bg-foshia hover:transition-all border-none">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
