<!-- <div class="user-item flex justify-between border-l-4 rounded-xl  p-5">
  <p class="ml-5 text-neutral-50">Game one</p>
  <div class="mr-5">
    <button
      class="btn px-6 mr-3  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none"
      routerLink="/edit-admin" routerLinkActive="active-route">Edit</button>
    <button
      class="btn px-6  bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all border-none">Delete</button>
  </div>
</div> -->

<div class="min-h-screen flex items-center justify-center bg-blackback p-5">
  <div class="bg-neutral-800 p-8 mt-28 rounded-lg  text-base-100 shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">Add New Game</h1>
    <form class="space-y-6">

      <div class="flex flex-col sm:flex-row gap-3">


        <div class="form-group w-full sm:w-3/4">
          <label for="title" class="block text-sm font-medium mb-2">Title</label>
          <input type="text"
            class="form-control w-full px-4 py-2 rounded-lg bg-neutral-700 text-base-100 border border-neutral-600 focus:outline-none focus:ring-2 focus:ring-foshia "
            id="title" [(ngModel)]="game.title" name="title" placeholder="Enter game title" required>
        </div>


        <div class="form-group w-full  sm:w-1/4">
          <label for="image" class="block text-sm font-medium mb-2">Image</label>
          <input type="file"
            class="form-control bg-neutral-700 text-neutral-700 cursor-pointer w-full px-4 py-2 rounded-lg  border border-neutral-600 focus:outline-none focus:ring-2 focus:ring-foshia"
            id="image" name="image" required>
        </div>
      </div>



      <div class="text-center">
        <button type="submit"
          class="btn border-none px-6 text-base-100 py-2 rounded-lg bg-foshia hover:bg-foshia transition duration-300">Add
          Game</button>
      </div>
    </form>
  </div>
</div>
