<div class="card shadow-md rounded-lg overflow-hidden bg-white py-5 px-2">
  <figure class="relative pointe h-56">
    <img [src]="gameItem.imageCover" alt="{{gameItem.title}}" class="w-full h-f cursor-pointer"   (click)="handleRedirect(gameItem._id)"/>
    <div class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.price }}
    </div>
    <div class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.discount }}
    </div>
  </figure>
  <div class="p-4 text-neutral-50 flex justify-between">
    <div>
      <span class="text-sm">{{ gameItem.genre }}</span>
      <h3 class="font-semibold text-lg mt-1">{{ gameItem.title }}</h3>
      <h3 class="font-semibold text-lg mt-1">{{ gameItem.description }}</h3>
    </div>
    <div class="mt-4 flex justify-end">
      <button
        class="btn btn-circle bg-foshia text-neutral-50 hover:bg-neutral-50 border-none hover:text-foshia hover:transition-all"
        (click)="increaseCounter()"   (click)="addToCart()">
        <app-carticon />
      </button>
    </div>
  </div>
</div>
<!-- <div class="card shadow-md rounded-lg overflow-hidden bg-white py-5 px-2">
  <figure class="relative pointe h-56">
    <a [routerLink]="['/game-details', gameItem._id]">
      <img [src]="gameItem.imageCover" alt="{{gameItem.title}}" class="w-full h-f cursor-pointer"  />      
    </a>
    <div class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.price }}
    </div>
    <div class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.discount }}
    </div>
  </figure>
  <div class="p-4 text-neutral-50 flex justify-between">
    <div>
      <span class="text-sm">{{ gameItem.genre }}</span>
      <h3 class="font-semibold text-lg mt-1">{{ gameItem.title }}</h3>
      <h3 class="font-semibold text-lg mt-1">{{ gameItem._id }}</h3>
    </div>
    <div class="mt-4 flex justify-end">
      <button
        class="btn btn-circle bg-foshia text-neutral-50 hover:bg-neutral-50 border-none hover:text-foshia hover:transition-all"
        (click)="increaseCounter()"   (click)="addToCart()">
        <app-carticon />
      </button>
    </div>
  </div>
</div> -->
