<div class="card  shadow-md rounded-lg  bg-white py-5 px-2">
  <figure class="relative point h-60 ">
    <div class="flex justify-center">
      <img [src]="gameItem.imageCover"  alt="{{gameItem.title}}" class="object-cover cursor-pointer transform transition duration-[1500ms] hover:scale-110" (click)="handleRedirect(gameItem._id)"/>
    </div>
    <div class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.price }}
    </div>
    <div class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">
      ${{ gameItem.discount }}
    </div>
  </figure>
  <div class="p-4 text-neutral-50 flex justify-between">
    <div>
      <h3 class="font-semibold text-lg mt-1">{{ gameItem.title }}</h3>
      <p class="font-semibold text-sm mt-1">{{ gameItem.description }}</p>
    </div>
    <div class="mt-4 flex justify-end">
      <button
        class="btn btn-circle bg-foshia text-neutral-50 hover:bg-neutral-50 border-none hover:text-foshia hover:transition-all"
        (click)="addToCart(gameItem)">
        <app-carticon />
      </button>
    </div>
  </div>
</div>
