
<div class="text-neutral-50 flex justify-center items-center p-5">
  @if(users.length > 0; ){
  <div class="flex flex-col gap-3 w-full sm:w-3/5">
    @for(user of users ; track $index){
    <div class="user-item flex gap-7 justify-between items-stretch border-b p-2 text-sm  sm:text-lg">
      <div>
        <p>{{ user.email }}</p>
      </div>
      <div class="flex  gap-3 ">
        <p>{{ user.role }}</p>
        <button (click)="deleteUser(user._id)" class="btn px-6 bg-error text-neutral-50 hover:bg-neutral-50 hover:text-error hover:transition-all border-none">X</button>
      </div>

    </div>
    }
  </div>

  }@else{
  <div class="no-users-message w-96  flex justify-center items-center ">
    <div class="w-3/4">
      <img
        src="https://cdni.iconscout.com/illustration/premium/thumb/no-user-found-illustration-download-in-svg-png-gif-file-formats--search-not-error-web-page-filter-unavailable-404-empty-states-pack-business-illustrations-5639817.png?f=webp"
        alt="No users found" />
      <p class="text-neutral-50 text-center text-2xl">No users found.</p>
    </div>
  </div>
  }


</div>
