<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">

  <!-- Card  -->
  <div class="card shadow-md rounded-lg overflow-hidden bg-white">
    <figure class="relative">
      <img
        src="https://c4.wallpaperflare.com/wallpaper/107/848/913/spiderman-ps4-spiderman-games-hd-wallpaper-preview.jpg"
        alt="Game 4"
        class="w-full" />
      <div
        class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">$32</div>
      <div
        class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">$64</div>

    </figure>
    <div class="p-4 text-neutral-50 flex justify-between">
      <div>
        <span class="text-sm ">Action</span>
        <h3 class="font-semibold text-lg  mt-1">Spider man </h3>
      </div>
      <div class="mt-4 flex justify-end ">
        <button class="btn btn-circle border-none bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all">
          <app-carticon />
        </button>
      </div>
    </div>
  </div>

    <!-- Card  -->
    <div class="card shadow-md rounded-lg overflow-hidden bg-white">
      <figure class="relative">
        <img
          src="https://c4.wallpaperflare.com/wallpaper/107/848/913/spiderman-ps4-spiderman-games-hd-wallpaper-preview.jpg"
          alt="Game 4"
          class="w-full" />
        <div
          class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">$32</div>
        <div
          class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">$64</div>

      </figure>
      <div class="p-4 text-neutral-50 flex justify-between">
        <div>
          <span class="text-sm ">Action</span>
          <h3 class="font-semibold text-lg  mt-1">Spider man </h3>
        </div>
        <div class="mt-4 flex justify-end ">
          <button class="btn btn-circle  bg-foshia border-none text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all">
            <app-carticon />
          </button>
        </div>
      </div>
    </div>

      <!-- Card  -->
  <div class="card shadow-md rounded-lg overflow-hidden bg-white">
    <figure class="relative">
      <img
        src="https://c4.wallpaperflare.com/wallpaper/107/848/913/spiderman-ps4-spiderman-games-hd-wallpaper-preview.jpg"
        alt="Game 4"
        class="w-full" />
      <div
        class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">$32</div>
      <div
        class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">$64</div>

    </figure>
    <div class="p-4 text-neutral-50 flex justify-between">
      <div>
        <span class="text-sm ">Action</span>
        <h3 class="font-semibold text-lg  mt-1">Spider man </h3>
      </div>
      <div class="mt-4 flex justify-end ">
        <button class="btn btn-circle border-none bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all">
          <app-carticon />
        </button>
      </div>
    </div>
  </div>

    <!-- Card  -->
    <div class="card shadow-md rounded-lg overflow-hidden bg-white">
      <figure class="relative">
        <img
          src="https://c4.wallpaperflare.com/wallpaper/107/848/913/spiderman-ps4-spiderman-games-hd-wallpaper-preview.jpg"
          alt="Game 4"
          class="w-full" />
        <div
          class="absolute top-2 right-2 bg-foshia text-white text-xs font-bold p-1 rounded">$32</div>
        <div
          class="absolute top-2 right-12 bg-foshia line-through text-white text-xs font-bold p-1 rounded">$64</div>

      </figure>
      <div class="p-4 text-neutral-50 flex justify-between">
        <div>
          <span class="text-sm ">Action</span>
          <h3 class="font-semibold text-lg  mt-1">Spider man </h3>
        </div>
        <div class="mt-4 flex justify-end ">
          <button class="btn btn-circle border-none bg-foshia text-neutral-50 hover:bg-neutral-50 hover:text-foshia hover:transition-all">
            <app-carticon />
          </button>
        </div>
      </div>
    </div>

</div>
